
.mui-search-wr {
  position: relative;
  background-color: white;
  width: max-content;
}

.mui-search-input::-webkit-search-cancel-button {
  display: none;
}
.mui-search-input:focus {
  outline: none;
}

.mui-dropdown {
  margin-top: -2px;
  overflow: hidden;
  border: 1px solid var(--gray200);
  border-radius: 0 0 4px 4px;
  position: absolute;
  background-color: white;
  z-index: 2;
  min-width: 100%;
}
.mui-dropdown:empty {
  border: 0;
}
.mui-dropdown button {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  text-wrap: nowrap;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--gray600);
}
.mui-dropdown > * {
  display: block;
  padding: 8px;
}
