.mui-search {
  min-width: 360px;
  max-width: 520px;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -180px;
}
.mui-search-wr {
  position: relative;
  background-color: white;
  padding: 4px;
  border-radius: 8px;

}
.mui-search-wr:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: .8em;
  top: .8em;
  background: url("./search.svg") no-repeat;
  background-size: contain;
  background-position: center;
}
.mui-search-tabs {
  display: flex;
  transform: translateY(8px);
}
.mui-search-tabs .mui-li {
  width: auto;
  padding: 8px 13px 14px;
  color: white;
  background-color: #000000aa;
  border-radius: 8px 8px 0 0;
  outline: 1px solid var(--gray100);
}
.mui-search-tabs .mui-li.active {
  background-color: white;
  color: var(--black);
}
.mui-search-tabs .mui-li:hover {
  background-color: #f0f0f0;
  color: var(--black);
}
.mui-search-tabs i {
  display: none;
}
.mui-search-input {
  padding: .5em 32px .5em .8em;
  width: 100%;
  border: 0;
}
.mui-search-input::-webkit-search-cancel-button {
  display: none;
}
.mui-search-input:focus {
  outline: none;
}

.mui-dropdown {
  border-top: 1px solid var(--gray100);
  margin: .3em 0;
  overflow: hidden;
}
.mui-dropdown:empty {
  border: 0;
}
.mui-dropdown button {
  padding: .5em .8em;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  text-wrap: nowrap;
  width: 100%;
  text-align: left;
  color: var(--gray600);
}
.mui-dropdown button:hover {
  background-color: var(--gray100);
  color: inherit;
}
