:root {
  --black: #101010;
  --gray100: #ddd;
  --gray200: #ccc;
}
* {
  box-sizing: border-box;
}
.mapui {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.mapui [hidden] {
  display: none;
}
aside {
  flex-basis: 0;
  overflow-y: auto;
  transition: flex-basis .3s ease-in-out;
}
aside[visible] {
  flex-basis: 300px;
}
.ui-map {
  flex: 1;
}
.ui-info {
  /*position: absolute;*/
  /*right: 0;*/
  /*height: 100%;*/
  /*z-index: 100;*/
  /*background-color: white;*/
  /*overflow-y: auto;*/
}