:root {
  --black: #101010;
  --gray100: #ffffff36;
  --gray200: #ccc;
  --gray500: #777;
  --white100: #ffffff36;
  --white200: #ffffff88;
  --white300: #ffffffdb;
}
.mui *, :before, :after {
  box-sizing: border-box;
}
.mui {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #26282b;
}
.mui [hidden] {
  display: none;
}
.mui aside {
  flex-basis: 0;
  overflow-y: auto;
  transition: flex-basis .3s ease-in-out;
  position: relative;
  color: #9a9e9c;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

.mui aside > .mui-content {
  /*white-space: nowrap;*/
  width: 300px;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  padding: 22px;
  transition: opacity .3s ease-in .12s;
}

.mui aside[visible] {
  flex-basis: 300px;
}
.mui aside[visible] > .mui-content {
  opacity: 1;
}
.mui aside::-webkit-scrollbar {
  width: 7px;
}

.mui aside::-webkit-scrollbar-track {
  background-color: transparent;
}

.mui aside::-webkit-scrollbar-thumb {
  background-color: var(--gray500);
  border-radius: 1px;
}

.mui aside .mui-close {
  height: 30px;
  width: 30px;
  border-radius: 40px;
  margin: 16px 18px;
  background-color: var(--gray100);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mui aside .mui-close:hover {
  background-color: var(--white200);
}

.mui-map {
  flex: 1;
}
.mui-info {
  /*position: absolute;*/
  /*right: 0;*/
  /*height: 100%;*/
  /*z-index: 100;*/
  /*background-color: white;*/
  /*overflow-y: auto;*/
}