.switcher-controls button.active:before {
    position: absolute;
    content: '';
    display: block;
    border-radius: 10px;
    height: 11px;
    width: 11px;
    left: 5px;
    top: 10px;
    background-color: var(--color);
    outline: 1px solid var(--white100);
}
.switcher-controls button.active {

}
.switcher-controls button:hover {
    background-color: var(--ol-subtle-background-color);
    outline: 0;
}
.switcher-controls button:focus {
    outline: 0;
}
.switcher-controls button:first-child {
  margin-top: 10px;
}
.switcher-controls .mui-tap {
    padding-left: 30px;
}