.switcher-controls .mui-content button.active:before, .searchBar .mui-dropdown button:before {
    position: absolute;
    content: '';
    display: block;
    height: 7px;
    width: 10px;
    left: 5px;
    rotate: -45deg;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: var(--white200);
}

.mui-accordion[name="wells"] .mui-content button.active:before,
.mui-accordion[name="aquifers"] .mui-content button.active:before,
.searchBar .mui-dropdown [name="wells"]:before {
    border-radius: 10px;
    height: 11px;
    width: 11px;
    background-color: var(--color);
    outline: 1px solid var(--white100);
    border: 0;
}

.mui-accordion[name="polygons"] .mui-content button.active:before,
.searchBar .mui-dropdown [name="polygons"]:before {
    height: 11px;
    width: 11px;
    background-color: var(--color);
    outline: 1px solid var(--white100);
    border: 0;
    rotate: 0deg;
}

.switcher-controls .mui-content button:hover {
    background-color: var(--ol-subtle-background-color);
    outline: 0;
}
.switcher-controls .mui-content button:focus {
    outline: 0;
}
.switcher-controls .mui-content button:first-child {
  margin-top: 10px;
}
.switcher-controls .mui-content .mui-tap {
    padding-left: 30px;
}