.mui-arrow {
  height: 8px;
  width: 8px;
}
.mui-arrow:before {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  border-top: 2px solid var(--black);
  border-right: 2px solid var(--black);
}
.mui-arrow.left:before {
  rotate: -135deg;
}
.mui-arrow.top:before {
  rotate: -45deg;
}
.mui-arrow.right:before {
  rotate: 45deg;
}
.mui-arrow.bottom:before {
  rotate: 135deg;
}

