.menu-controls {
    padding: 5px;
    top: 80px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.ol-control button {
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.menu-controls button.active {
    background-color: #d9d9d9;
    color: var(--black);
}