.info > .mui-content .mui-li {
  line-height: 1.4;
  padding: 10px 16px;
  color: var(--white200);
}

.info .mui-li.active {
  color: var(--white200);
  font-weight: normal;
  background-color: var(--white100);
}
.info > .mui-content span {
  color: var(--white100);
}
.mui-extension {
  color: var(--black)
}
.mui-extension .info-text {
  padding-bottom: 22px;
  border-bottom: 1px solid var(--gray200);
}
.mui-extension .info-text > div {
  display: flex;
  justify-content: space-between;
}
.mui-extension .info-text span {
  color: var(--gray300);
}
.mui-extension .info-text b {
  text-align: right;
}
.mui-extension .mui-list {
  margin-top: 16px;
}
.mui-extension .mui-list .mui-li {
  padding-left: 0;
}
.mui-extension .mui-li.active {
  font-weight: bold;
  color: var(--black);
}
.mui-extension .mui-li:not([disabled]):hover {
  color: var(--black);
}
.mui-extension .mui-content img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}
.mui-extension .mui-content .mui-tap {
  width: auto;
  padding: 8px 0;
  margin-left: auto;
  margin-top: -20px;
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
}
.mui-extension .mui-content .mui-tap:hover {
  color: var(--black);
  text-decoration: underline dotted var(--gray200);
  text-underline-offset: .6em;
}