.tooltip-content {
    position: absolute;
    background-color: white;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 10px;
    border-radius: 4px;
    outline: 1px solid #cccccc;
    bottom: 17px;
    left: -50px;
    min-width: 200px;
}
.tooltip-content:after,
.tooltip-content:before {
    top: 100%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tooltip-content:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.tooltip-content:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.tooltip-content p {
    margin-top: 0;
    margin-bottom: 0;
}